<div class=container_form_offer>
  <%= simple_form_for(@offer) do |f| %>
  <div class="text_form">
    <%= f.input  :title %>
  </div>
  <div class="text_form">
    <%= f.input :description %>
  </div>
  <div class="text_form">
    <%= f.input :date, html5: true %>
  </div>
  <div class="text_form">
    <%= f.input :price %>
  </div>
  <div class="text_form btn_photo">
    <%= f.input :photo, as: :file %>
  </div>
  <%= f.submit class: "btn_form" %>
  <% end %>
</div>
