<div class="profile">
  <div class = "profile-picture">
    <% if @user.photo.key.present? %>
      <%= cl_image_tag @user.photo.key, class: "photo" %>
    <% else %>
      <%= image_tag "Star.png", alt: "No Star", class: "photo" %>
    <% end %>
  </div>
  <div class="profile-info">
    <h1><%= @user.nickname %></h1>
    <p><%= @user.email %></p>
    <p><%= @user.description %></p>
    <p class="history">You have created <%= @offers_count %> offers and reserved <%= @reservations_count %> offers.</p>
  </div>
  <%= link_to "Edit profile", edit_user_path(current_user), class: "edit" %>
</div>
