<div class= "container-profil">
  <h1>Mon profil</h1>
  <div class= "card-profil">
    <div class= "card-style_profil">
    <div class = "photo-profil">
      <% if current_user.photo.key.present? %>
      <%= cl_image_tag current_user.photo.key, class: "photo" %>
    <% else %>
      <%= image_tag "Star.png", alt: "No Star", class: "photo" %>
    <% end %>
    </div>
      <%= current_user.nickname %>

      <ul>
        <li> Offer's number : 8 </li>
        <br><br><li> Reservation's number : 15</li>
        <br><br><li> Avis : 14 </li>
      </ul>
    </div>
  </div>
  <div class= "card-description">
    <h3> </h3>Description : </h3>
    <div>
      <%= current_user.description %>
    </div>
  </div>
  <div class="btn">
    <%= link_to "edit your profil", edit_user_path(current_user) %>
  </div>
</div>
