<h1><%= @reservation.offer.title%></h1>

<p><%= @reservation.comment %></p>

<%= simple_form_for [@offer, @reservation]  do |f| %>
  <div class="text_form">
    <%= f.input :accepted %>
  </div>
  <%= f.submit class: "btn_form" %>
<% end %>
