<div class="global-container">
  <% if @reservations.present? %>
    <% @reservations.each do |reservation| %>
      <h1><%= reservation.offer.title %></h1>
      <div class="cards_reservations">
        <% if reservation.offer.photo.key.present? %>
          <%= cl_image_tag reservation.offer.photo.key, class: "photo-form" %>
        <% else %>
          <%= image_tag "Star.png", alt: "No Star", class: "photo-form" %>
        <% end %>
        <div class="card_comment">
        <span class="data_reserv"><%= reservation.offer.date %></span>
        <div class="comment_reserv">
        <br><%= reservation.comment %>
        </div>
        </div>
      </div>
      <div class="footer_reservation">
        <% if reservation.accepted? %>
        <p class="footer_accepted">Accepted</p>
        <% else %>
        <p class="footer_status">Pending</p>
        <% end %>
        <%= link_to "Delete this reservation", reservation_path(reservation),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"add" %>
      </div>
      <hr class="separator">
    <% end %>
  <% else %>
   <p class="responce">You have no reservations yet</p>
  <% end %>
</div>
