<div class="offers">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer.id), class: "offer" do %>
    <div class="offer_title">
      <h1><%= offer.title %></h1>
    </div>
      <div class="image-wrap">
        <% if offer.photo.key.present? %>
          <%= cl_image_tag offer.photo.key, class: "photo" %>
        <% else %>
          <%= image_tag "Star.png", alt: "No Star", class: "photo" %>
        <% end %>
      </div>
      <%# <div class="offer_desc"> %>
        <%# <%= offer.description %>
      <%# </div> %>
      <%# <div class="offer_date"> %>
        <%# <%= offer.date %>
      <%# </div> %>
      <div class="offer_price">
        $<%= offer.price %>
      </div>
    <% end %>
  <% end %>
</div>
