<div class="offer">
<% if @offer.photo.key.present? %>
    <%= cl_image_tag @offer.photo.key, height: 300, width: 350, crop: :fill %>
  <% else %>
    <%= image_tag "star", alt: "No Star", height: 300, width: 350, crop: :fill %>
  <% end %>
  <h1><%= @offer.title %></h1>
  <div class="offer_desc">
    <%= @offer.description %>
  </div>

  <% if current_user == @offer.user %>
    <%= link_to "Edit", edit_offer_path(@offer), class: "edit" %>
    <%= link_to "Delete", offer_path(@offer), class: "delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% else %>
  <div class="reserve-wrap">
    <div class="reserve-card">
      <h2>Date of this event: </h2>
      <div class="offer_date">
        <%= @offer.date.day %>/<%= @offer.date.month %>/<%= @offer.date.year %>
      </div>
      <h2>Price:</h2>
      <div class="offer_price">$<%= @offer.price %></div>
      <%= link_to "Make a reservation", new_offer_reservation_path(@offer), class: "reserve" %>
    </div>
  </div>
  <% end %>
</div>

<ul>
  <% @offer.reservations.each do |reservation| %>
    <li><br><%= link_to reservation.offer.title, edit_reservation_path(reservation) %>
    <br><%= reservation.comment %></li>
  <% end %>
</ul>
