<div class="offer-wrap">

  <div class="offer">
    <div class="text">
      <h1><%= @offer.title %></h1>
      <div class="offer_desc">
        <%= @offer.description %>
      </div>
      <div class="cta">
        <% if current_user == @offer.user %>
          <%= link_to "Edit", edit_offer_path(@offer), class: "edit" %>
          <%= link_to "", offer_path(@offer), class: "fa-solid fa-trash-can fa-lg", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% else %>

        <% end %>
      </div>
    </div>

    <div class="offer-image-wrap">
    <% if @offer.photo.key.present? %>
      <%= cl_image_tag @offer.photo.key, class: "photo" %>
    <% else %>
      <%= image_tag "Star.png", alt: "No Star", class: "photo" %>
    <% end %>
      <div class="info-wrap">
        <div class="info">
          <div class="date-block">
            <h2>Available on</h2>
            <div class="offer_date">
              <%= @offer.date.day %>/<%= @offer.date.month %>/<%= @offer.date.year %>
            </div>
          </div>
          <div class="price-block">
            $<%= @offer.price %>
          </div>
        </div>
      </div>
      <div class="border-bottom">
      </div>
    </div>
    <div class="border-right">
    </div>
  </div>

  <div class="resas">
    <% if current_user == @offer.user %>
      <h2>Reservations</h2>
      <% if @offer.reservations.size == 0 %>
       <p>There is no reservation for this offer yet.</p>
      <% else %>
        <% @offer.reservations.each do |reservation| %>
          <%= link_to edit_reservation_path(reservation) do %>
            <div class="resa">
              <div class="comment">
                John: <%= reservation.comment %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% if @reserved %>
        <p>You have already made a reservation for this offer!</p>
      <% else %>
        <div>
          <%= render "shared/resaform", reservation: @reservation %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
